


/* Stile body */
body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;

}

/* Stile contatore centrale */
.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    font-size: 100px;
}

/* Stile pulsanti */
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-color: black;
    font-size: 50px;
    cursor: pointer;
    width: 80px;
    height: 80px;
}

.btn:hover{
    color:  rgba(131, 131, 131, 0.76);
    border-color: rgba(131, 131, 131, 0.76);
}

.add, .sub{
    color: black;
    background-color: white;
}

/* Si trasla il simbolo '-' per allinearlo al '+' */
.minus{
    transform: translateY(-3px);
}